version: '3.8'

services:
  app:
    build: .
    ports:
      - "3001:3001"
    environment:
      - PORT=3001
      - PG_USER=postgres
      - PG_HOST=db
      - PG_DATABASE=smart_budget
      - PG_PASSWORD=postgres
      - PG_PORT=5432
      - SECRET_KEY=4b43cfba1b294f25d342d8cccdb5b96d7cf43439c0af1a17113e683b8a8a43c2
      - EMAIL_USER=${EMAIL_USER}
      - EMAIL_PASS=${EMAIL_PASS}
    depends_on:
      - db
    restart: always

  db:
    image: postgres:15-alpine
    restart: always
    environment:
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=postgres
      - POSTGRES_DB=smart_budget
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data:
